.app.light {
  --bg-color: #f7f0f5;

  // for titles, main texts which is the most important content
  --primary-color: #0d1b1e;
  // for descriptions, lower prior texts
  --secondary-color: #393d3f;

  // Light blue for borders
  --border-color: #82ddf0; // or #5296A5
}
